
data
TODO.txt
todo.txt
BUGS.txt
bugs.txt
*.bag
*.pcd
*.png
*.jpg
*.jpeg
*.avi
*.mp4
*.pdf
*.eps
*.svg

#flann files
*.list
*.h5
*.idx
*.tbz

*.json
*ycm_extra_conf*
tags

.vscode
.DS_Store
__pycache__
_ext
*.pyc
*.so
maskrcnn_benchmark.egg-info/
build/
dist/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

sbpl_perception/visualization
heuristics/
*_results/
rcnn/
icra16*
log*
