
data
TODO.txt
todo.txt
BUGS.txt
bugs.txt
*.bag
*.pcd
*.png
*.jpg
*.jpeg
*.avi
*.mp4
*.pdf
*.eps
*.svg

#flann files
*.list
*.h5
*.idx
*.tbz

*.json
*ycm_extra_conf*
tags

sbpl_perception/visualization
heuristics/
*_results/
rcnn/
icra16*
