<launch>
  <master auto="start"/>
  <param name="/use_sim_time" value="true"/>

  <arg name="image_debug" default="false" />
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <!--Specify which model bank to use-->
  <include file="$(find sbpl_perception)/config/sim_household_objects.xml"/>

  <!--<include file="$(find pr2_description)/robots/upload_pr2.launch" />-->
  <!--<param name="robot_description" command="$(find xacro)/xacro.py '$(find pr2_description)/robots/pr2.urdf.xacro'" />-->

  <!-- <node pkg="sbpl_perception" type="sim_test" name="sim_test" output="screen" launch&#45;prefix="$(arg launch_prefix)" respawn="false"> -->
    <node pkg="sbpl_perception" type="sim_test" name="sim_test" output="screen" launch-prefix="mpirun -n 8" respawn="false">
      <rosparam command="load" file="$(find sbpl_perception)/config/env_config.yaml" />
      <rosparam command="load" file="$(find sbpl_perception)/config/planner_config.yaml" />
      <rosparam command="load" file="$(find sbpl_perception)/config/camera_config.yaml" />
      <param name="image_debug" value="$(arg image_debug)"/>
    </node>
  </launch>
